@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using GameRental.Models

<div class="jumbotron">
  <h2>Admin Login</h2>
</div>

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("Logoff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log out" />
  }
  @if (Model.Count == 0)
  {
    <p>You have not rented any games.</p>
  }
  else
  {
    <p>Rental History:</p>
    <ul>
    @foreach (Checkout checkout in Model)
    {
      string warning = "";
      string date = checkout.Copy.RentalDate.ToString("d");
      TimeSpan rentalTime = new TimeSpan(7, 0, 0, 0);
      DateTime dueDate = @checkout.Copy.RentalDate.Add(rentalTime);
      string dueDateString = dueDate.ToString("d");
      if(DateTime.Now.Ticks >= dueDate.Ticks)
      {
        warning = " OVERDUE";
      }
      <li>
        @Html.ActionLink(@checkout.Copy.Game.Title, "Details", "Games", new { Id = @checkout.Copy.GameId }) - Rented on @date, due on @dueDateString @warning
      </li>
    }
    </ul>
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}
