@{
  Layout = "_Layout";
}

@model GameRental.Models.Game

<div class="jumbotron">
  <h2>Game Details</h2>
</div>

<p>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</p>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This game is not assigned for any developers.</p>
}
else
{
  <p>Developers for this this game:</p>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink(@join.Developer.Name, "Details", "Developers", new { id = join.Developer.DeveloperId })</li>
      @using (Html.BeginForm("DeleteDeveloper", "Games"))
      {
        @Html.Hidden("joinId", @join.DeveloperGameId)
        <input type="submit" value="Delete" class="btn btn-dark"/>
      }
    }
  </ul>
}

@if(Model.Rented)
{
  <p>This game is currently checked out.</p>
    @using (Html.BeginForm("Edit", "Games"))
    {
      @Html.HiddenFor(model => model.GameId)
      @Html.HiddenFor(model => model.Title)
      <input data-val="true" data-val-required="The Rented field is required." id="Rented" name="Rented" type="hidden" value="False">
      <input type="submit" value="Turn it back in!" class="btn btn-dark"/>
    }
}
else
{
  if(User.Identity.IsAuthenticated)
  {
    <p>This game is available for rent.</p>
    @using (Html.BeginForm("Edit", "Games"))
    {
      @Html.HiddenFor(model => model.GameId)
      @Html.HiddenFor(model => model.Title)
      <input data-val="true" data-val-required="The Rented field is required." id="Rented" name="Rented" type="hidden" value="True">
      <input type="submit" value="Rent it!" class="btn btn-dark"/>
    }
  }
  else
  {
    <p>This game is available for rent. @Html.ActionLink("Log in", "Login", "Account") to rent it!</p>
  }
}


<p>@Html.ActionLink("Edit Game", "Edit", new { id = Model.GameId })</p>
<p>@Html.ActionLink("Delete Game", "Delete", new { id = Model.GameId })</p>
<p>@Html.ActionLink("Add a Developer", "AddDeveloper", new { id = Model.GameId })</p>