@{
  Layout = "_Layout";
}

@model GameRental.Models.Game

<h2>Editing @Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.Label("Select Developer")
  @Html.DropDownList("DeveloperId")

  <input type="submit" value="Save" class="btn btn-dark"/>
}