@{
  Layout = "_Layout";
}

@using GameRental.Models;
@model List<GameRental.Models.Game>;

<div class="jumbotron">
  <h2>Game List</h2>
</div>

@if (@Model.Any())
{
  <hr>
  <ul>
    @foreach (Game game in Model)
    {
      int availableCount = 0;
      foreach (var copy in game.Copies)
      {
        if (!copy.Rented)
        {
          availableCount++;
        }
      }
      <li>
        @Html.ActionLink($"{game.Title}", "Details", new { id = game.GameId })
        @if (availableCount == 0)
        {
          <span> - no available copies for rent.</span>
        }
      </li>
    }
  </ul>
  @if (User.Identity.IsAuthenticated)
  {
    @Html.ActionLink("Add game copies", "Create", "Copies")
  }
}
else
{
  <h3>No games have been added yet!</h3>
}

@using (Html.BeginForm("Search", "Games"))
{
  @Html.TextBox("search")
  <input type="submit" value="Search" class="btn btn-dark">
}

<p>@Html.ActionLink("Add new game", "Create")</p>