@{
  Layout = "_Layout";
}

@using GameRental.Models;
@model List<GameRental.Models.Game>;

<div class="jumbotron">
  <h2>Game List</h2>
</div>

@if (@Model.Any())
{
  <h4>Games in Stock</h4>
  <hr>
  <ul>
    @foreach (Game game in Model)
    {
      @if (!game.Rented)
      {
        <li>
          @Html.ActionLink($"{game.Title}", "Details", new { id = game.GameId })
        </li>
      }
    }
  </ul>
    <h4>Checked out Games</h4>
  <hr>
  <ul>
    @foreach (Game game in Model)
    {
      @if (game.Rented)
      {
        <li>
          @Html.ActionLink($"{game.Title}", "Details", new { id = game.GameId })
        </li>
      }
    }
  </ul>
}
else
{
  <h3>No games have been added yet!</h3>
}

@using (Html.BeginForm("Search", "Games"))
{
  @Html.TextBox("search")
  <input type="submit" value="Search" class="btn btn-dark">
}

<p>@Html.ActionLink("Add new game", "Create")</p>