@{
  Layout = "_Layout";
}

@model GameRental.Models.Developer;

<h2>Developer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This developer does not contain any games</p>
}
else
{
  <h4>Games the developer contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink(@join.Game.Title, "Details", "Games", new { id = join.Game.GameId })</li>
          @using (Html.BeginForm("DeleteGame", "Developers"))
      {
        @Html.Hidden("joinId", @join.DeveloperGameId)
        <input type="submit" value="Delete" class="btn btn-dark"/>
      }
  }
  </ul>
}

<p>@Html.ActionLink("Edit Developer", "Edit", new { id = Model.DeveloperId })</p>
<p>@Html.ActionLink("Delete Developer", "Delete", new { id = Model.DeveloperId })</p>
<p>@Html.ActionLink("Add a game", "AddGame", new { id = Model.DeveloperId})</p>